

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Appointments</div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>email</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.name %></td>
        <td><%= appointment.location %></td>
        <td><%= appointment.email %></td>
        <td><%= link_to 'Show', appointment, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
<%= link_to new_appointment_path, class: 'btn btn-default' do %>
  <i class="glyphicon glyphicon-plus"></i> New Appointment
<% end %>
