<!DOCTYPE html>
<html>
<head>
  <title>Classic Auto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body  bgcolor = "#1C1C1C">
  <%= render 'shared/navigation' %>
    <h1 font size = "5" color = "#FFF"><p class="notice"><%= notice %></p></h1>
    <h1 font size = "5" color = "#FFF"><p class="alert"><%= alert %></p> </h1>
          <!-- <h1>Classic Auto</h1> -->
          <!--<%= image_tag("Logo_1.png", :alt => "Logo", :size => "200x76") %> -->
          <%= yield %>
    

</body>
</html>
